<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuskers Fundraiser Engine</title>
</head>
<body>
    <h1> Order Summary </h1>
    <p> Chicken Orders: {{chicken}}</p>
    <p> Egg Orders: {{egg}}</p>
    <p> Vege Orders: {{vegetable}}</p>
<br>
    <h2> Orders to Pick Up </h2>
    <h3> Newlands </h3>
    <p> Chicken Orders: {{pickUpChickenNewLands}}</p>
    <p> Egg Orders: {{pickUpEggNewLands}}</p>
    <p> Vege Orders: {{pickUpVegeNewLands}}</p>
<br>
    <h3> Churton Park </h3>
    <p> Chicken Orders: {{pickUpChickenChurtonPark}}</p>
    <p> Egg Orders: {{pickUpEggChurtonPark}}</p>
    <p> Vege Orders: {{pickUpVegeChurtonPark}}</p>
<br>
    <h3> Lower Hutt </h3>
    <p> Chicken Orders: {{pickUpChickenLowerHutt}}</p>
    <p> Egg Orders: {{pickUpEggLowerHutt}}</p>
    <p> Vege Orders: {{pickUpVegeLowerHutt}}</p>
</body>
</html>



